---
import ScrollList from "../../components/ScrollList.astro";
import DocCard from "../../components/DocCard.astro";
import Layout from "../../layouts/Layout.astro";

const gettingStartedDocs = [
	{
		title: "Run a Fiber Node",
		iconSrc: "node",
		description: "Learn how to run a Testnet node on your local machine",
		link: "/docs/getting-started/running-node",
	},
	{
		title: "Basic Transfer Example",
		iconSrc: "transfer",
		description: "Learn how to setup and execute transfers between two nodes",
		link: "/docs/getting-started/basic-transfer",
	},
	{
		title: "Transfer Stablecoin",
		iconSrc: "transfer",
		description: "Learn how to transfer stablecoins between nodes",
		link: "/docs/getting-started/transfer-stablecoin",
	},
	{
		title: "Connect Public Nodes",
		iconSrc: "connect",
		description: "User manual about how to connect to the public Testnet nodes",
		link: "/docs/getting-started/testnet-nodes",
	},
	{
		title: "Build a Game with Fiber",
		iconSrc: "game-white",
		description: "Build a simple game with Fiber micropayments",
		link: "/docs/getting-started/simple-game",
	},
];

const techExplanationDocs = [
	{
		title: "Architecture & Module",
		description:
			"A source code-level exploration of Fiber's architecture and key modules",
		link: "/docs/tech-explanation/high-level",
		category: "Tech Explanation",
	},
	{
		title: "Light Paper",
		description: "The official light paper of Fiber network",
		link: "https://github.com/nervosnetwork/fiber/blob/main/docs/light-paper.md",
		external: true,
	},
	{
		title: "P2P Message Protocol",
		description: "The official P2P message protocol for Fiber network",
		link: "https://github.com/nervosnetwork/fiber/blob/main/docs/specs/p2p-message.md",
		external: true,
	},
	{
		title: "Invoice Protocol",
		description: "The official invoice protocol for Fiber network",
		link: "https://github.com/nervosnetwork/fiber/blob/main/docs/specs/payment-invoice.md",
		external: true,
	},
	{
		title: "Understanding Payment Channel Network",
		description: "A blog post explaining the payment channel network",
		link: "https://blog.cryptape.com/understanding-payment-channel-network",
		external: true,
	},
];
---

<Layout>
  <div class="p-5 md:p-10 lg:p-20">
    <div
      class="bg-cyan rounded-xl p-8 mx-auto border-1 border-border-black text-center mb-5"
    >
      <h1>Documentation</h1>
    </div>

    <div
      class="bg-purple-dark text-white rounded-xl p-8 mx-auto border-1 border-border-black text-center mb-12"
    >
      <h3>
        Explore your go-to resource for learning and building on Fiber Network
      </h3>
    </div>

    <!-- Getting Started Section -->
    <div class="mb-16">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div
          class={`p-5 h-[212px] md:h-[100%] rounded-xl flex flex-col justify-center align-middle items-start bg-blue-dark text-white border-1 border-border-black`}
        >
          <h2>Getting Started</h2>
        </div>
        {gettingStartedDocs.map((doc) => <DocCard {...doc} cardBg="yellow" />)}
      </div>
    </div>
  </div>

  <ScrollList />
  <div class="p-5 md:p-10 lg:p-20">
    <!-- Tech Explanation Section -->
    <div class="mb-16">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div
          class={`p-5 h-[212px] md:h-[100%] rounded-xl flex flex-col justify-center align-middle items-start bg-purple text-primary border-1 border-border-black`}
        >
          <h2>Tech Explanation</h2>
        </div>
        {
          techExplanationDocs.map((doc) => (
            <DocCard {...doc} iconSrc="file" cardBg="blue" />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
