@import "tailwindcss";

@font-face {
	font-family: "Articulat CF";
	src: url("/fonts/ArticulatCF-Medium.otf") format("opentype");
	font-weight: 400; /* Normal weight */
	font-style: normal;
}

@font-face {
	font-family: "Articulat CF";
	src: url("/fonts/ArticulatCF-Bold.otf") format("opentype");
	font-weight: 700; /* Bold weight */
	font-style: normal;
}

@theme {
	/* Colors */
	--color-cyan-light: #c5fffb;
	--color-cyan: #4efff4;
	--color-cyan-dark: #00a7a8;
	--color-orange-light: #fdeed7;
	--color-orange: #f5bc7c;
	--color-orange-dark: #de6018;
	--color-purple-light: #fbe7ff;
	--color-purple: #f3a7ff;
	--color-purple-dark: #c71ddc;
	--color-blue-light: #d5eaff;
	--color-blue: #85baff;
	--color-blue-dark: #0c32ff;
	--color-yellow-light: #fbfec3;
	--color-yellow: #fefb56;
	--color-yellow-dark: #cba603;

	/* Text Colors */
	--color-text-primary: #030303;
	--color-text-secondary: #3d3d3d;
	--color-text-on-color: #ffffff;

	/* Border Color */
	--color-border-black: #030303;

	/* Fonts */
	--font-heading: "Articulat CF", "Bold";
	--font-body: "Articulat CF", "Medium";

	/* Breakpoints */
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}

/* Base Styles */
@layer base {
	body {
		@apply font-body; /* Use body font */
	}

	h1 {
		@apply font-heading font-bold lg:text-[88px] lg:leading-[100%] md:text-[56px] md:leading-[100%] sm:text-[36px] sm:leading-[100%];
	}

	h2 {
		@apply font-heading font-bold lg:text-[48px] lg:leading-[120%] md:text-[36px] md:leading-[120%] sm:text-[32px] sm:leading-[120%];
	}

	h3 {
		@apply font-heading font-bold lg:text-[36px] lg:leading-[120%] md:text-[28px] md:leading-[120%] sm:text-[20px] sm:leading-[120%];
	}

	h4 {
		@apply font-heading font-bold lg:text-[24px] lg:leading-[120%] md:text-[20px] md:leading-[120%] sm:text-[18px] sm:leading-[120%];
	}
}

@layer utilities {
	.text-body1 {
		@apply font-body lg:text-[20px] lg:leading-[160%] md:text-[18px] md:leading-[160%] sm:text-[16px] sm:leading-[160%];
	}
	.text-body2 {
		@apply font-body lg:text-[16px] lg:leading-[160%] md:text-[14px] md:leading-[160%] sm:text-[14px] sm:leading-[160%];
	}
	.text-caption {
		@apply font-body lg:text-[14px] lg:leading-[120%] md:text-[12px] md:leading-[120%] sm:text-[12px] sm:leading-[120%];
	}
	.text-footnote {
		@apply font-body lg:text-[12px] lg:leading-[120%] md:text-[12px] md:leading-[120%] sm:text-[12px] sm:leading-[120%];
	}
	.text-button {
		@apply font-body lg:text-[16px] lg:leading-[100%] md:text-[14px] md:leading-[100%] sm:text-[14px] sm:leading-[100%];
	}
}
