body {
  margin: 0;
  padding: 0;
  background: #141414;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

:root {
  --text-color: #fff;
  --accent-color: #111;
  --geist-foreground-rgb: 255, 255, 255;
  --border-radius: 12px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 100;
}

.header-main {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 95%;
  margin: 0 auto;
  backdrop-filter: blur(3px);
  border-radius: 20px;
}

.header-main div {
  justify-content: center;
  display: flex;
  align-items: center;
}
.header-main .nav-right {
  width: 80px;
}
.header-main a {
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
}

.header-main a:hover,
.header-main a.sel {
  font-weight: 700;
}
.openMobile {
  background: transparent !important;
}
.navMobile {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 80%;
  border-radius: 12px;
  margin: 0 auto;
  z-index: 102;
  background: #131313;
  backdrop-filter: blur(3px);
}

.navMobile a {
  color: #000;
}
.nav_main {
  padding: 80px 10% 50px 10%;
}
.nav_main .menus {
  border-top: 0.5px solid rgba(0, 204, 155, 1);
  border-bottom: 0.5px solid rgba(255, 153, 0, 1);
  padding: 30px 0;
}
.drawer,
.EZDrawer {
  background: rgb(61, 61, 61) !important;
  border-radius: 0 0 20px 20px;
}

.drawer .menus a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.nav_links {
  padding-top: 20px;
}

.nav_links a {
  text-indent: 0;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 15px 0 0;
}

.resources_main {
  width: 1440px;
  margin: 0 auto;
}
.resources .intro {
  height: 500px;
  background: url(images/bg_res_p.svg) center center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 100px 0;
}
.resources .intro_box {
  width: 900px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 0 auto;
}
.resources .intro_box:nth-child(odd) {
  flex-direction: row-reverse;
}
.resources .intro_box img {
  width: 350px;
}
.resources .intro_box dl {
  width: 400px;
}
.resources .intro_box dt {
  color: #00cc9b;
  font-size: 36px;
  line-height: 44px;
  padding: 10px 0;
  background: url(images/intro_line.svg) bottom left no-repeat;
}
.resources .intro_box dd {
  padding-top: 20px;
  line-height: 22px;
}

.resources .intro p {
  width: 70%;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}

.tutorials section {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.tutorials section.videos img {
  width: 1200px;
  height: 605px;
}
.tutorials .title {
  width: 100%;
}
.tutorials .title span {
  background: url(images/bg_title.svg) right top no-repeat;
  display: inline-block;
  height: 85px;
  line-height: 85px;
  padding-right: 50px;
  color: #00cc9b;
  font-size: 48px;
}
.tutorials ul {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 80px;
  background: url(images/border_t.svg) center bottom no-repeat;
}
.tutorials ul li {
  border-top: 1px solid #484d4e;
}
.tutorials ul li a {
  display: block;
  color: #fff;
  text-decoration: none;

  height: 60px;
  line-height: 60px;
}
footer {
  width: 100%;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  scroll-snap-align: start;
}

footer .footer-main {
  font-size: 14px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
footer .footer-left,
footer .footer-right {
  width: 500px;
}

footer .footer-main div.footer-middle {
  text-align: center;
  font-size: 20px;
  height: 180px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-main div a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.footer-nav {
  padding: 20px 0;
  width: 300px;
}
.footer-nav a {
  display: inline-block;
  line-height: 30px;
}
main{
  min-width: 1440px !important;
  height: 100vh;
  overflow-y:scroll;
  overflow-x: hidden;
}
#main{ scroll-snap-type: both mandatory;}
.snap_block{
  scroll-snap-align:  start ;

}

section {
  margin: 0 auto;
  width: 1440px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* scroll-snap-align: end; */

}

section h2 {
  color: #fff;
  font-size: 48px;
}
section p {
  color: #fff;
  margin-top: 20px;
}
.meteor {
  width: 100%;
  height: 4px;
  width: 100%;
  
}

.meteor_t {
  margin: 20px 0;
  height: 6px;
  background: url(images/line_1.svg) left center no-repeat;
  animation: light 2s infinite ease-out;
  width: 120%;
}
.meteor_b {
  margin: 20px 0;
  height: 10px;
  background: url(images/line_2.svg) left center no-repeat;
  animation: light 2s infinite ease-out;
  animation-delay: 0.5s;
  width: 120%;
}
@keyframes light {
  from {background-position-x:-720px;}
  to {background-position-x: 2000px;}
}

section h1 span {
  display: inline-block;
  padding: 0 20px;
}
section h1 {
  height: 66px;
  line-height: 66px;
  font-size: 48px;
  text-align: center;
  font-style: italic;
  background: #333 -webkit-radial-gradient(
      circle,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ) no-repeat -280px -94px;
  -webkit-background-clip: text;
  -webkit-background-size: 388px;
  color: rgba(255, 255, 255, 0.1);
  /*-webkit-text-fill-color:transparent;*/

  animation: ani 2s linear infinite;
}
.section1  p{
  font-size: 22px;
}
.section1  h2{
  font-size: 36px;
}
section .links {
  margin-top: 40px;
  display: flex;
}
section .links_middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.works {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
section.works img {
  width: 1200px;
}
section.works h2 {
  width: 100%;
  text-align: left;
  padding: 20px 0;
}

@media (min-width: 750px) {
  section.works h2 {
    margin-top: 70px;
  }
}

section.works .meteor_line {
  position: absolute;
  width: 100%;
  pointer-events: none;
  top: -120px;
}
section.works .meteor_line_1 {
  width: 100%;
  pointer-events: none;
  margin-top: 20px;
}
section.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature_main {
  width: 1200px;

  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: top;
}
section.feature h2 {
  padding: 40px 0 33px 90px;
  background: url(images/meteor_2.svg) top left no-repeat;
  text-align: left;
}
.feature_main ul {
  padding-left: 90px;
  color: #fff;
  margin-top: 50px;
  list-style: none;
}
.feature_main a {
  font-size: 16px;
  color: #00cc9b;
  text-align: left;
  text-decoration: none;
}
.feature_main ul li {
  height: 50px;
  line-height: 50px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
}
.feature_main ul li img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.feature_main .feature_img {
  width: 465px;
  height: 352px;
  border-radius: 20px;
  margin-top: -50px;
}

section.feature_compare {
  background-image: url(images/meteor_3.svg), url(images/meteor_4.svg);
  background-position: 0 15%, right 70%;
  background-repeat: no-repeat, no-repeat;
  width: 1200px;
  margin:0 auto
}
section.feature_compare table {
  width: 1200px;
  color: #fff;
}
section.feature_compare table th {
  width: 30%;
}
section.feature_compare table td {
  width: 30%;
  padding: 3px 10px;
  font-size: 16px;
}
section.feature_compare table th {
  font-size: 24px;
}
section.feature_compare table td span {
  display: block;
  border-radius: 5px;
  text-align: center;
  height: 54px;
  line-height: 54px;
}
section.feature_compare table span.ln {
  background: #dde3e31a;
  color: #dde3e3;
}
section.feature_compare table span.fn {
  background: #00CC9B1A!important;

  color: #00cc9b;
}
section.feature_compare table tr:nth-child(1) span.ln {
  background: #dde3e333;
  font-size: 24px;
}
section.feature_compare table tr:nth-child(1) span.fn {
  background: #00CC9B33!important;

  font-size: 24px;
}
section.feature_compare p{
  text-align: left;
  width: 100%;
  text-indent: 34%;
}
section.common .meteor_line_1 {
  margin-top: 30px;
}
section.common .common_main {
  width: 1200px;
  margin: 0 auto;
}
section.common .info {
  background: url(images/meteor_5.svg) right top no-repeat;
  padding: 40px 0 0 0;
  text-align: left;
}
section.common h2 {
  line-height: 60px;
  padding: 20px 0;
}
section.common .info p {
  margin-top: 30px;
  line-height: 22px;
  font-size: 16px;
}
section.common .common_info {
  clear: both;
  text-align: left;
  margin-top: 30px;
}

section.common .common_info .img_box {
  float: left;
  width: 120px;
  margin-right: 40px;
}
section.common .common_info .img_box img {
  width: 100%;
}
section.common .common_info h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: rgba(0, 204, 155, 1);
}
section.common .common_info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin-top: 30px;
}
.roadmap_main {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.roadmap_main h2 {
  background: url(images/meteor_6.svg) top left no-repeat;
  padding-top: 25px;
  margin-top: 20px;
}
.roadmap_main dl {
  margin-top: 50px;
}
.roadmap_main dt {
  font-size: 36px;
  line-height: 44px;
  padding-top: 30px;
  border-top: 1px solid #484d4e;
}
.roadmap_main dd {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
}
.roadmap_main dt span {
  display: inline-block;
  background: linear-gradient(95.73deg, #00cc9b 0.1%, #ff9900 100.1%);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes ani {
  from {
    background-position: 0 -94px;
  }
  to {
    background-position: 100% -94px;
  }
}

.normal_button {
  display: inline-block;
  padding: 6px 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18px;
  line-height: 18px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
}
.youtube_box{
  display: flex;
  padding:20px 0;
  justify-content: space-around;
  width: 100%;
}
.youtube{
  
  width:580px;
  height: 326px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube svg{
  opacity: 0.5;
  width: 60px;
}
.youtube:hover svg{
  opacity: 1;

}
@media (max-device-width: 750px) {
  section {
    width: 80% !important;
    height: auto !important;
    min-height: auto;
  }
  .section1 {
    margin-top: 100px;
  }
  .section1  p{
    font-size: 13px;
  }
  .section1  h2{
    font-size: 28px;
  }
  .meteor_b,.meteor_t{
    animation: light 4s infinite ease-out;

  }
  .meteor_b{
    animation-delay: 1s;
    background-position-x: -2000px;
  }

  section h1.main_slogan {
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    font-weight: 500;
    height: auto;
    animation: none;
    background: linear-gradient(180deg, #ffffff 0%, rgba(72, 77, 78, 0) 100%);
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.1);
  }

  section h1 span {
    padding: 0 3px;
  }
  section h2 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    margin: 10px auto;
  }
  section p {
    font-size: 12px;
  }
  section .meteor_line_1 {
    width: 100%;
    margin: 10px 0;
  }
  .section1 .links_m {
    height: 154px;
    width: 100%;
    background: url(images/bg_m_1.svg) center center no-repeat;
    background-size: contain;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.works {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  section.works img {
    width: 100%;
  }
  section.works h2 {
    width: 100%;
    text-align: left;
    font-size: 24px;
  }
  section.works .meteor_line {
    width: 125%;
    pointer-events: none;
    top: 0;
    position: relative;
    margin-top: 40px;
  }
  .feature_main {
    width: auto;
  }
  section.feature h2 {
    background: url(images/border_m_4.svg) right top no-repeat;
    background-size: cover;
    padding: 20px 0 30px 0;
    font-size: 24px;
    width: 125%;
    margin-left: -20%;
    text-indent: 16%;
  }
  section.feature {
    margin-top: 120px;
    display: block;
  }
  .feature_main {
    display: flex;
    flex-direction: column-reverse;
  }
  .feature_main .feature_img {
    width: 100%;
    margin: 0 0 20px 0;
    height: auto;
  }
  .feature_main .feature_img img {
    width: 100%;
  }
  .feature_main ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .feature_main ul li {
    height: 50px;
    line-height: 22px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
  }
  .feature_main ul li img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  section.feature_compare {
    width: 80%;
    background: none;
    margin: 80px auto;
  }
  section.feature_compare table {
    width: 100%;
  }

  section.feature_compare table th {
    width: 33%;
  }
  section.feature_compare table td {
    width: 33%;
    padding: 4px;
    font-size: 14px;
    vertical-align: middle;
  }
  section.feature_compare table th {
    font-size: 14px;
    vertical-align: middle;
  }
  section.feature_compare table td span {
    border-radius: 3px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.feature_compare table span.ln {
    background: #dde3e31a;
    color: #dde3e3;
  }
  section.feature_compare table span.fn {
    background: #00cc9b33;
    color: #00cc9b;
  }
  section.feature_compare table tr:nth-child(1) span.ln {
    background: #dde3e333;

    font-size: 16px;
  }
  section.feature_compare table tr:nth-child(1) span.fn {
    background: #00cc9b33;

    font-size: 16px;
  }
  section.feature_compare p{
    text-indent: 0;
    padding-left: 34%;
  }
  section.common .common_main {
    width: 100%;
  }
  section.common .common_main .img_box {
    float: none;
    width: 100%;
  }
  section.common .info {
    padding-left: 12.5%;
    margin-left: -12.5%;
  }
  section.common h2 {
    line-height: 38px;
    font-size:24px;
  }
  section.common .common_info {
    margin-top: 50px;
  }
  section.common .common_info h3 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 30px;
  }
  .roadmap_main {
    margin-top: 50px;
    width: 100%;
  }

  .roadmap_main dt {
    font-size: 22px;
    line-height: 30px;
    padding-top: 30px;
    border-top: 1px solid #484d4e;
  }
  .roadmap_main dd {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
  }
  .roadmap_main h2 {
    background-image: url(images/meteor_6_m.svg);
  }
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  main {
    min-width: 100% !important;
    height: auto;
    overflow-x: hidden;
    scroll-snap-type: none;
  }
  footer .footer-main {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .footer-left,
  footer .footer-right {
    display: none;
  }
  footer .footer-middle {
    background: url(images/bg_footer_m.svg) top center no-repeat;
  }
  footer .footer-middle {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 80px 0;
  }
  footer .footer-main .footer-nav a {
    display: block;
    margin: 5px 0;
  }
  .footer_links {
    width: 40%;
    border-top: 0.5px solid #484d4e;
    padding-top: 10px;
  }
  .resources_main {
    width: 100%;
  }
  .resources .intro {
    height: 366px;
    background: url(images/bg_res_m.svg) center center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0;
  }
  .resources .intro p {
    font-size: 16px;
    line-height: 22px;
    width: auto;
  }
  .resources .intro_box {
    height: auto;
    width: 80%;
    margin: 20px auto;
    scroll-snap-align: none;
    display: block;
  }
  .resources .intro_box img {
    width: 100%;
  }
  .resources .intro_box dl {
    width: 100%;
    margin-top: 40px;
  }
  .resources .intro_box dt {
    font-size: 24px;
    line-height: 30px;
  }
  .resources .intro_box dd {
    font-size: 16px;
    line-height: 22px;
  }
  .tutorials {
    margin-top: 100px;
  }
  .tutorials section {
    width: 80%;
    margin: 0 auto;
    scroll-snap-align: none;
    text-align: left;
    display: block;
    height: auto;
    margin-top:30px;
  }
  .tutorials section.videos img {
    width: 100%;
    height: auto;
  }
  .tutorials .title {
    width: 100%;
    margin-bottom: 20px;
  }
  .tutorials .title span {
    background: url(images/bg_title_m.svg) right top no-repeat;
    display: inline-block;    padding-top: 10px;

    height: 48px;
    line-height: 48px;
    padding-right: 50px;
    color: #00cc9b;
    font-size: 30px;
  }
  .tutorials ul {
    padding-bottom: 60px;
    background: url(images/border_t_m.svg) right bottom no-repeat;
    background-size: contain;
  }

  .tutorials ul li a {
    font-size: 18px;
  }

  .youtube_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px 0;
    justify-content: space-around;
    width: 100%;
  }

  .youtube{
    height: 192px;
    width: 100%;
  }
  .youtube svg{
    width: 80px;
  }
}
