---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
---

<Layout>
  <div class="pt-20 px-20">
    <div
      class="bg-cyan rounded-xl p-8 mx-auto border-1 border-border-black text-center mb-6"
    >
      <h1>Milestones</h1>
    </div>
  </div>

  <Timeline /> 
</Layout>
