---
// Component Logic (if needed)
---

<div class="bg-lavender-100 py-20 px-20">
  <div
    class="bg-cyan rounded-xl p-8 mx-auto border-1 border-border-black text-center mb-6"
  >
    <h1>
      <span class="text-blue-dark">Fiber Network</span> is Making
    </h1>
    <h1>Satoshi's Vision a Reality</h1>
  </div>
  <div
    class="flex flex-col lg:flex-row justify-between w-full text-white gap-1"
  >
    <div
      class="bg-purple-dark p-[20px] rounded-xl border-1 border-border-black flex justify-center"
    >
      <h3>The Next Generation Common Lightning Network</h3>
    </div>
    <div
      class="lg:flex-grow bg-black p-[20px] rounded-xl border-1 border-border-black"
    >
      <a
        target="_blank"
        href="https://github.com/nervosnetwork/fiber/blob/main/docs/light-paper.md"
        class="flex gap-6 justify-center items-center"
      >
        <h3>Lightpaper</h3>
        <img src="/icons/link.svg" />
      </a>
    </div>
  </div>
</div>
