---
const bgColor = "bg-purple-light";
const items = [
	"Faster",
	"Cheaper",
	"P2P",
	"Multi-Asset Support",
	"Interoperability",
	"Faster",
	"Cheaper",
	"P2P",
	"Multi-Asset",
];
const repeatedItems = [...items, ...items]; // Duplicate items for seamless looping
---

<div class="w-full flex items-end">
  <!-- Left Scroller -->
  <div
    class={`h-[56px] lg:h-[61px] flex flex-col align-middle items-center justify-center overflow-hidden relative border-y-1 border-border-black ${bgColor}`}
  >
    <div
      class="animate-scrolling-left whitespace-nowrap w-max transition-transform duration-20000 flex align-middle items-center justify-center gap-5"
    >
      {
        repeatedItems.map((item, index) => (
          <h4 class="inline-block">
            {item}
            {(index + 1) % items.length !== 0 && <span class="mx-5">✦</span>}
          </h4>
        ))
      }
    </div>
  </div>

  <!-- Center Icon -->
  <img src="/icons/light-bulb.svg" alt="Fiber" class="h-auto w-[218px]" />

  <!-- Right Scroller -->
  <div
    class={`h-[56px] lg:h-[61px] flex flex-col align-middle items-center justify-center overflow-hidden relative border-y-1 border-border-black ${bgColor}`}
  >
    <div
      class="animate-scrolling-right whitespace-nowrap w-max transition-transform duration-20000 flex align-middle items-center justify-center gap-5"
    >
      {
        repeatedItems.map((item, index) => (
          <h4 class="inline-block">
            {item}
            {(index + 1) % items.length !== 0 && <span class="mx-5">✦</span>}
          </h4>
        ))
      }
    </div>
  </div>
</div>

<style>
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }

  .animate-scrolling-left {
    animation: scroll-left 20s linear infinite;
  }
  .animate-scrolling-right {
    animation: scroll-right 20s linear infinite;
  }

  .animate-scrolling-left:hover,
  .animate-scrolling-right:hover {
    animation-play-state: paused;
  }
</style>
