---
interface Props {
	level?: "primary" | "secondary" | "tertiary";
	items: string[];
}

const { level = "primary", items } = Astro.props;
const bgColor =
	level === "primary"
		? "bg-yellow-light"
		: level === "secondary"
			? "bg-blue-light"
			: "bg-purple-light";

const repeatedItems = [...items, ...items]; // Duplicate items for seamless looping
---

<div
  class={`h-[56px] lg:h-[61px] flex flex-col align-middle items-center justify-center overflow-hidden relative border-y-1 border-border-black ${bgColor}`}
>
  <div
    class="animate-scrolling whitespace-nowrap w-max transition-transform duration-20000 flex align-middle items-center justify-center gap-5"
  >
    {
      repeatedItems.map((item, index) => (
        <h4 class="inline-block">
          {item}
          {index !== repeatedItems.length - 1 && (
            <span class="mx-5">✦</span>
          )}
        </h4>
      ))
    }
  </div>
</div>

<style>
  .animate-scrolling {
    animation: scroll 20s linear infinite; /* Adjust speed as needed */
  }
  .animate-scrolling:hover {
    animation-play-state: paused !important;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-50%)
      ); /* Scroll half the duplicated content */
    }
  }
</style>
